@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header{
    height: 20vh;
    background-color: rgb(42, 43, 46);
    width: 100vw;
    position: sticky;
    top: 0px;
}*/

header{
    position: sticky;
    top: 0px;
}

.color{
    background-color: rgb(42, 43, 46);
}

.ul__li__a__color{
    text-decoration: none;
    color: rgb(240, 247, 238);
    font-family: 'Roboto', sans-serif;
}

.ul__li__a__activo{
    font-weight: bold;
}

.header__nav__div__logo{
    height: 50px;
    width: 50px;
    background-color: transparent;
}

.header__menu__ul{
    float: right;
    padding-top: 2rem;
}

.header__menu__ul__li{
    display: inline;
    margin: 2rem;
    text-align: center;
    font-size: 5rem;
}

.fuente{
    font-family: 'Roboto', sans-serif;
}

.main{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(240, 247, 238)
}

.main__h1{
    text-align: center;
    font-size: 3rem;
    padding: 3rem;
    font-weight: bold;
}

.main__actividades{
    background-color: rgb(240, 247, 238);
    overflow-y: auto;
}

.main__actividades__article__div {
    
    height: 250px;
    width: 250px;
    margin: 20px;
}

.hola{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__actividades__article__div__h2{
    text-align: center;
    font-size: 2rem;
}

.main__actividades__article__p {
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 2rem;
}

.main__instalaciones{
    background-color: rgb(245, 196, 52);
    overflow: auto;
}

.whatsApp__div{
    height: 100px;
    width: 100px;
    background-color: transparent;
    position: fixed;
    left: 90%;
    top: 80%;
    
}

footer{
    background-color:  rgb(42, 43, 46);
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.footer__logo{
    height: 100px;
    width: 100px;
    left: 1.5%;
    top: 125%;
    background-color: transparent;
    position: absolute;
}

.footer__redes{
    margin: 1rem;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__redes__div{
    height: 100px;
    width: 100px;
    background-color: transparent;
}

.footer__separacion {
    display: absolute;
    border-top: 4px solid rgb(245, 196, 52);
    height: 2px;
    max-width: 60%;
    padding: 0;
    margin: 20px auto 0 auto;
}

.footer__aclaracion{
    height: 40%;
    width: 100%;
    color: rgb(240, 247, 238);
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 2.5rem;
}

img{
    height: 100%;
    width: 100%;
}

.card {
    width: 190px;
    height: 120px;
    transition: all .5s;
    box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11),
               -15px -15px 30px rgba(60, 60, 60, 0.082);
    text-align: center;
    overflow: hidden;
  }
  
  .card:hover {
    height: 254px;
    background: linear-gradient(360deg, #edededc5 60%, hsla(0, 0%, 13%, 1) 70%);
  }
  
  .card .header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #212121;
    margin-bottom: 16px;
  }
  
  .card .header .img-box {
    width: 50px;
  }
  
  .card .header .title {
    font-size: 1.1em;
    letter-spacing: .1em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 4px 0 14px 0;
    transition: all .5s;
    color: #edededc5;
  }
  
  .card:hover .header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
  }
  
  .card:hover .card .header .title {
    padding: 0;
  }
  
  .card .content {
    display: block;
    text-align: justify;
    color: #212121;
    margin: 0 18px;
  }
  
  .card .content p {
    transition: all .5s;
    font-size: 1em;
    margin-bottom: 8px;
  }
  
  .card .content a {
    color: #1d8122;
    cursor: pointer;
    transition: all .5s;
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .card .content .btn-link:hover {
    border-bottom: 1px solid #1d8122;
  }