@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/
header{
    position: sticky;
    top: 0px;
    z-index: 3;
}

.color{
    background-color: rgb(42, 43, 46);
}

.color__button__var{
    border: black solid 1px;
}

.nav__color__hover:hover {
    color: rgb(245, 196, 52);
}

.ul__li__a__color{
    text-decoration: none;
    color: rgb(240, 247, 238);
    font-family: 'Roboto', sans-serif;
}

.ul__li__a__activo{
    font-weight: bold;
}

.header__nav__div__logo{
    height: 50px;
    width: 50px;
    background-color: transparent;
}

.fuente{
    font-family: 'Roboto', sans-serif;
}

.main{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(240, 247, 238)
}

footer{
    background-color:  rgb(42, 43, 46);
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.footer__logo{
    height: 100px;
    width: 100px;
    grid-area: logo;
    background-color: transparent;
    margin-top: 20px;
}

.footer__redes{
    grid-area: redes;
}


img{
    height: 100%;
    width: 100%;
}


/* HOME PAGE*/ /* VISTA MOBILE = MOBILE FIRST*/
.main__h1{
    text-align: center;
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-weight: bold;
    margin: 1rem;
}

.main__actividades{
    background-color: rgb(240, 247, 238);
    overflow-y: auto;
}

.main__actividades__article__div {
    height: 250px;
    width: 250px;
    margin: 20px;
}

.article__position{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.main__actividades__article__div__h2{
    text-align: center;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.main__actividades__article__p {
    font-size: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(240, 247, 238);
}

.main__instalaciones{
    background-color: rgb(245, 196, 52);
    overflow: auto;
}

.card {
    width: 20rem;
    height: 26rem;
    background-color: #212121;
    border-radius: 1rem;
    border: #212121 0.2rem solid;
    transition: all 0.4s ease-in;
    box-shadow: 0.4rem 0.4rem 0.6rem #00000040;
    position: static;
}

.card:hover {
    transform: translateY(-1.5rem);
    border: rgb(245, 196, 52) 0.2em solid;
    border-radius: 2.5rem 0 2.5rem 0;
}

.wrapper .icon {
    position: relative;
    background: rgb(42, 43, 46);
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 3;
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
}

.grilla{
    display: grid;
    grid-template-areas:
            "logo"
            "redes"
            "descripcion";
    justify-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 200px;
    width: 100%;
    padding-top: 20px;
    margin-right: 30px;
    font-family: "Poppins", sans-serif;
    justify-content: flex-start;
}

.footer__aclaracion{
    width: 100%;
    color: rgb(240, 247, 238);
    padding: 2rem 1.5rem 1.5rem 0rem;
    margin-left: 2rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    grid-area: descripcion;
}

.whatsApp__div{
    height: 60px;
    width: 60px;
    background-color: transparent;
    position: fixed;
    left: 81%;
    top: 87%;  
}


/* DESKTOP */
@media screen and (min-width: 1024px){
    .altura{
        height: 89vh;
    }

    .grilla{
        display: grid;
        grid-template-areas:
            "logo redes"
            "linea linea"
            "descripcion descripcion";
        grid-template-rows: 100px 20px 100px; 
        grid-template-columns: 1fr 1.5fr;
        justify-items: flex-start;
    }

    .footer__redes__ul{
        display: flex;
        justify-content:flex-start;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        list-style: none;
        height: 120px;
        width: 100%;
        padding-top: 40px;
        font-family: "Poppins", sans-serif;
        justify-content: flex-start;
    }

    .footer__separacion {
        display: absolute;
        width: 100vw;
        border-top: 2px solid rgb(245, 196, 52);
        height: 2px;
        max-width: 60%;
        padding: 0;
        margin: 20px auto 0 auto;
    }

    .footer__logo{
        height: 100px;
        width: 100px;
        grid-area: logo;
        background-color: transparent;
        margin-top: 20px;
    }
    
    .footer__redes{
        grid-area: redes;
    }
    
    .separacion{
        grid-area: linea;
    }

    .footer__aclaracion{
        height: 40%;
        width: 100%;
        color: rgb(240, 247, 238);
        padding: 2rem 0rem 0rem 2rem;
        font-size: 1rem;
        grid-area: descripcion;
    }

    .whatsApp__div{
        height: 80px;
        width: 80px;
        background-color: transparent;
        position: fixed;
        left: 92%;
        top: 82%;  
    }
    
}


/* CONTACTO PAGE*/
.pos__form{
    padding-left: 2rem;
}

.textInputWrapper {
    position: relative;
    margin: 12px 5px;
    --accent-color: rgb(245, 196, 52);
}

.textInputWrapper:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:before,
.textInputWrapper:after {
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    bottom: -1px;
    z-index: 4;
    width: 100%;
}

.textInputWrapper:focus-within:before {
    border-bottom: 1px solid var(--accent-color);
}

.textInputWrapper:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:focus-within:before {
    border-bottom: 1px solid var(--accent-color);
    transform: scaleX(1);
}

.textInputWrapper:focus-within:after {
    border-bottom: 2px solid var(--accent-color);
    transform: scaleX(1);
}

.textInputWrapper:after {
    content: "";
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    will-change: transform;
    border-bottom: 2px solid var(--accent-color);
    border-bottom-color: var(--accent-color);
}

.textInput::placeholder {
    transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    opacity: 1;
    user-select: none;
    color: rgba(255, 255, 255, 0.582);
}

.textInputWrapper .textInput {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
    background-color: #252525;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    transition-property: background-color;
    color: #e8e8e8;
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
    outline: none;
}

.contacto__main{
    overflow-x: hidden;
    background-color: rgb(240, 247, 238);
}

.boton__form{
    margin-bottom: 2rem;
    background-color: rgb(42, 43, 46);
    color: rgb(240, 247, 238);
}

.h1__contacto{
    padding: 1rem;
    font-weight: bold;
}

.descripcion__contacto{
    padding: 0rem 1rem 1rem 1.5rem;
}

/* DESKTOP */
@media screen and (min-width: 1024px){
    .pos__form{
        padding-left: 3rem;
    }

}



/* GIMNASIOS PAGE*/




/* PLANES PAGE*/
.card__plan {
    width: 190px;
    height: 350px;
    border-radius: 1rem;
    background: rgb(45, 45, 45);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition-duration: 0.5s;
    margin: 1rem;
    margin-bottom: 4rem;
}

.title {
    text-align: center;
    margin-top: 0.5em;
    font-weight: bold;
    font-size: x-large;
    color: rgb(200,200,200);
}

.pricecontainer {
    width: 100%;
    margin-top: 0.7em;
    background-color: rgb(30,30,30);
    box-shadow: inset 0px 0px 2em rgba(0, 0, 0, 0.3);
}

.price {
    text-align: center;
    color: rgb(180,180,180);
    font-size: x-large;
    font-weight: bold;
    padding: 0.75em 0 0 0;
}

.pricedescriptor {
    text-align: center;
    color: rgb(118, 118, 118);
    font-size: medium;
    padding: 0 0 1em 0;
}

.includes {
    text-align: center;
    color: rgb(110, 110, 110);
    margin-top: 0.6em;
    font-size: small;
    font-weight: bold;
}

.benefitlist li {
    color: rgb(150,150,150);
    font-size: small;
    text-align: center;
}

.benefitlist li:nth-child(1) {
    margin-top: 0.4em;
}

.btncontainer {
    text-align: center;
}

.btncontainer button {
    margin-top: 1em;
    padding: 0.5em 0.8em 0.5em 0.8em;
    border-style: none;
    border-radius: 1000000px;
    color: rgb(239, 239, 239);
    font-weight: bold;
    background-image: linear-gradient(45deg, #fe4fe1 0%, #3f00fe 100%);
    transition: box-shadow 0.15s ease-in-out;
}

.btncontainer button:hover {
    box-shadow: inset 0px 0px 5px rgb(0,0,0);
    transition: box-shadow 0.15s ease-in-out;
}

.h1__plan{
    margin: 3rem;
}

.main__div__div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* SOBRE NOSOTROS PAGE*/